
.html-content {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  letter-spacing: 0.00938em !important;

}
.html-content img {
  max-width: 90%;  
  height: auto !important
}
.html-content * {
  padding: revert;
  margin: revert;
  box-sizing: revert;
}
.html-content table p {
  margin: 0px;
}