#testing {
  width: 100vw;
  max-width: 1000px;
  margin: auto;
  padding: 0 2rem 2rem 2rem;
}
#testing-header {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
}
#score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#score span {
  color: red;
  font-size: 4rem;
}