.guide {
  color: rgb(102, 102, 102);
}
.re-do {
  margin-left: 10px !important;
}
.over-text {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.MuiSlider-colorPrimary {
  color: #1976d2 !important;
}